@using modulosASP.DTO;
@model List<EjecutivoDto>

@{
    ViewBag.Title = "Ejecutivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ejecutivos</h2>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover" id="tb_ejecutivo">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(Model => Model.First().Num_Empleado)</td>
                    <td>@Html.DisplayNameFor(Model => Model.First().Nombre)</td>
                    <td>@Html.DisplayNameFor(Model => Model.First().Correo)</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var datos in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(Model => datos.Num_Empleado)</td>
                        <td>@Html.DisplayFor(Model => datos.Nombre)</td>
                        <td>@Html.DisplayFor(Model => datos.Correo)</td>
                        <td>
                            <button type="button" class="btn btn-outline-warning btnEditar"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                    data-num="@datos.Num_Empleado">

                                Editar Ejecutivo
                            </button>
                            -
                            <button type="button" class="btn btn-outline-danger">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmActualizar">
                    <div class="mb-3">
                        <input type="text" id="Num_Empleado" disabled />

                    </div>

                    <div class="mb-3">

                        <input type="text" class="form-control w-100" id="Nombre" />
                    </div>

                    <div class="mb-3">
                        <input type="email" class="form-control w-100" id="Correo" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnActualizar">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        //usaremo fetch para el put

        //llamamos el jquery
        $(document).ready(function () {
            //guardar datos
            $('#btnActualizar').on('click', function () {

                //generamos un arreglo
                let registro = DatosGuardar();
                console.log("Objeto que se enviará al servidor metdod put :", registro);


                //llamamos la funcion de guardar datos en ajax

                ActualizarDatos(registro);

                function DatosGuardar() {
                    let DatoRegistro = {}; //generamos un arreglo

                    //recorremos todos los elementos del formulario
                    $('#frmActualizar').find("input, select, textarea").each(function () {
                        let id = $(this).attr("id");   // usamos el id del input como nombre de propiedad
                        let valor = $(this).val();     // obtenemos el valor
                        if (id) {
                            DatoRegistro[id] = valor;  // lo agregamos al objeto
                        }

                    });

                    return DatoRegistro;
                }

                function limpiarCajas() {
                       $("#frmActualizar").find("input, select, textarea").each(function () {
        $(this).val("");  // limpia el valor de cada input
    });
                }

                function ActualizarDatos(DatoRegistro) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ActualizarDatos", "Ejecutivos")',
                        data: DatoRegistro,
                        success: function (resp) {
                          
                        //Cerramos el modal
                            $('#exampleModal').modal('hide');
                            alert(resp.message);
                        // Recargar tabla automáticamente
                        // 🔹 Si usas DataTables:
                        //$('#tb_ejecutivo').DataTable().ajax.reload();

                        // 🔹 Si NO usas DataTables y es tabla normal:
                         location.reload(); // refresca toda la página

                        }, error: function (resp) {
                            alert(resp.message);
                        }
                    });//Fin del ajax

                }//fin de la funcion Guardar

            });//fin del evento click

            $(".btnEditar").on("click", function () {

    //Recuperamos los datos del empleado
    let Numero_Empleado = $(this).data("num");
    console.log(Numero_Empleado);

    $.ajax({
        url: '@Url.Action("BurcarEmpleado","Ejecutivos")',
        type: 'POST',
        data: {
            NumEmpleado: Numero_Empleado
        },
        success: function (resp) {
            if (resp.success) {
                $("#exampleModalLabel").text("Elemento " + resp.data.Nombre);
                $("#Num_Empleado").val(resp.data.Num_Empleado);
                $('#Nombre').val(resp.data.Nombre);
                $("#Correo").val(resp.data.Correo)

            } else {
                alert(resp.mensaje);
            }
        },
        error: function () {
            alert("Error en la petición AJAX");
        }
    }); // Fin del AJAX

}); // Fin del click
        });//fin del documento

    </script>


}



