@using modulosASP.DTO;
@model List<EmpleadoDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover" id="tb_empleado">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.First().Num_Empleado)</td>
                    <td>@Html.DisplayNameFor(model => model.First().APaterno)</td>
                    <td>@Html.DisplayNameFor(model => model.First().AMaterno)</td>
                    <td>@Html.DisplayNameFor(model => model.First().Nombres)</td>
                    <td>Acciones A ejecutar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Num_Empleado)</td>
                        <td>@Html.DisplayFor(model => item.APaterno)</td>
                        <td>@Html.DisplayFor(model => item.AMaterno)</td>
                        <td>@Html.DisplayFor(model => item.Nombres)</td>
                        <td>
                            @Html.ActionLink("Editar Elemento ", "EditarEmpleado", "Empleado", new { idEmpleado = item.Num_Empleado }, new { @class = "<i class='bi bi - pencil - square' ></i> btn btn-primary" })
                            @Html.ActionLink("Eliminar Elemento ", "EditarEmpleado", "Empleado", new { idEmpleado = item.Num_Empleado }, new { @class = "<i class='bi bi - pencil - square' ></i> btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div><!-- Inicializar DataTables -->
@Scripts{
    $(document).ready(function () {
        $('#tb_empleado').DataTable({});
    });
</script>