
@model List<modulosASP.DTO.ProyectoDTO>
@{ var proyectoVacio = new modulosASP.DTO.ProyectoDTO(); }
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de poryectos</h2>

<!--Agregamos los botones de agregar nuevo proyecto-->

@Html.ActionLink("Agregar Nuevo Proyecto", "AgregarProyecto", "Proyecto", null, new { @class = "btn btn-outline-primary" })

<div class="card mt-3">
    <div class="card-body">
        <table class="table table-bordered table-hover" id="tb_proyectos">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.First().Clave)</td>
                    <td>@Html.DisplayNameFor(m => m.First().Proyecto)</td>
                    <td>@Html.DisplayNameFor(m => m.First().Tipo)</td>

                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Clave)</td>
                        <td>@Html.DisplayFor(model => item.Proyecto)</td>
                        <td>@Html.DisplayFor(model => item.Tipo)</td>
                        <td>
                            <button class="btn btn-outline-warning btn-editar"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    data-clave="@item.Clave"
                                    data-proyecto="@item.Proyecto"
                                    data-Tipo="@item.Tipo"
                                    >
                                Editar Elemento
                            </button> -
                            <button class="btn btn-outline-danger">Dar de Baja</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("EditarProyecto", "Proyecto", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                @Html.LabelFor(m => proyectoVacio.Clave, null, new { @class = "form-label" })
                                @Html.TextBoxFor(m => proyectoVacio.Clave, null, new { @class = "form-control",id="ClaveInput" })
                            </div>
                            @*<div class="col-6">

                                @Html.LabelFor(m => proyectoVacio.Tipo, null ,new { @class="form-label"})
                                @Html.DropDownListFor(m => proyectoVacio.Tipo,ViewBag.Tipos as List<SelectListItem>,
                               "-- Selecciona Tipo --"
                               ,new { @class="form-select",id="TipoInput"})
                            </div>*@

                            <div class="col-12">
                                @Html.LabelFor(m => proyectoVacio.Proyecto,null,new {@class="form-label" })
                                @Html.TextBoxFor(m=>proyectoVacio.Proyecto,null,new { @class="form-control",id="ProyectoInput"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            //alert("Desde jquery");


            $('.btn-editar').on('click', function () {
                $("#exampleModalLabel").text("Editar Proyecto");

                var edit = {
                    Clave: $(this).data('clave'),
                    Proyecto: $(this).data('proyecto'),
                    Tipo:$(this).data('Tipo')
                };

                console.log(edit);



                @*$.ajax({
                    url: '@Url.Action("EditarId","Proyecto")',
                    method: 'POST',
                    dataType: 'json',
                    data: edit,
                    success: function (respuesta) {
                        $('#IDClave').val(respuesta.Clave);
                        $('#IdTipoproyecto').val(respuesta.IDNombre);
                        $('#IdNombreProyecto').val(respuesta.IDTipo);
                    }, error: function (xhr, status, error) {
                        console.log("Error " + error)
                    }

                });*@

            });
        });
    </script>

}


